@font-face { 
  font-family: Yanone Kaffeesatz; 
    src: url('../fonts/YanoneKaffeesatz-Regular.eot'); 
    src: local("Yanone Kaffeesatz"), url('../fonts/YanoneKaffeesatz-Regular.ttf'); 
} 

html { 
  height: 100%;
}

* { 
  padding: 0;
  margin: 0;
}
  
article, aside, figure, footer, header, hgroup, nav, section { 
  display:block;
}

#title-article{
  
  font-size: 80px;
}

body { 
  font: normal .8em arial, sans-serif;
  background: #C4E9E8 url(../images/back.png) repeat-x;
  color: #555;
}

#container { 
  font: normal .8em arial, sans-serif;
  line-height: 20px;
  background: transparent url(../images/grass.png) repeat-x bottom;
  height: 100%;
  position: relative;
}

#contenido-principal{
  margin-bottom: 17px;
}

aside{
  margin-top: 15px;
  padding: 10px;
  background-color: #F5FEFF;
  border-radius: 20px;
  border: #C9E5E9 solid 1px;
}

#main{
  margin-top: 15px;

}

h1{
  Color: #E5017D;
}

ul {
  list-style-type:decimal;
}

footer{
  width: 100%;
  padding-top: 30px;
  padding-bottom: 20px;
  background-color: #53C7FD;
  clear: both;
  height: auto;
  text-align: center;
  color: #FFF;
  width: 880px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

#container-footer .links{
  color: white;
  border-right: 1px solid white;
  text-decoration: none;
  text-align: center;
  padding: 0px 5px 0px 5px;
}

#container-footer .last{
  border-right: none;
}

aside h3{
  font-size: 18px;
  font-family: Yanone Kaffeesatz;
  color: #89c43d;
}

aside h5{
  font-size: 14px;
  color: rgb(83, 83, 83);
  font-style: italic;
}

aside ul {
  margin-left: -30px;
  text-align: left;
  list-style-type:none;
}

aside a{
  color: #31cfcf;
}

nav{
  font-family: Yanone Kaffeesatz;
  font-size: 20px;
  background-color: #53C7FD;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.my-navbar a:hover{
  color:#E5017D;
}

.my-navbar .dropdown-menu{
  color:#E5017D;
}


.my-navbar a{
  color:white;
}

.navbar-toggler-icon{
  border: #E5017D solid 1px;
  border-radius: 10px;
}

.my-navbar .dropdown-menu{
  line-height: 30px;
  font-family: Yanone Kaffeesatz;
  font-size: 20px;
  background-color:#53C7FD ;
}

.adicional h3{
  font-size: 18px;
  color: #89c43d;
}

.adicional h1{
  font-size: 30px;
  color: #E5017D;
}

#nt-1{
  background-color: #59e2e254;
}

#nt-2{
  background-color: #ece91d5d;
}

.table{
  overflow: scroll;
}

thead{
  color:white;
  background-color: #E5017D;
  text-align: center;
  padding: 5px;
}

td{
  text-align: left;
  padding: 5px;
}
tr:nth-child(even) {
  background-color: #D6EEEE;
}
tfoot{
  color:white;
  background-color: #E5017D;
  padding: 5px;
}